name: CI with Terraform Plan

on:
  push:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform/ec2

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform/ec2

